@page "/Energy/History"

@using MadWorldNL.HomeFriend.Domain.Energy
@using MadWorldNL.HomeFriend.Energy

<h3>Energy History</h3>

<div class="row">
    <div class="col">
        <label for="cbOverview" class="demo-text cw-480 mb-1">
            Month
        </label>
        <DxComboBox Data="@Months"
                    TextFieldName="@nameof(MonthSelection.Text)"
                    @bind-Value="@SelectionMonth"
                    CssClass="cw-480"
                    InputId="cbOverview"/>
    </div>
    <div class="col">
        <label for="cbOverview" class="demo-text cw-480 mb-1">
            Year
        </label>
        <DxComboBox Data="@Years"
                    @bind-Value="@SelectedYear"
                    CssClass="cw-480"
                    InputId="cbOverview"/>
    </div>
</div>

<DxChart Data="@Consumptions">
    <DxChartLineSeries Name="Electric cost"
                       Filter="@((ConsumptionContract c) => c.Type == "Electric")"
                       ArgumentField="@(c => c.Timestamp)"
                       ValueField="@(c => c.Cost)"
                       SummaryMethod="Enumerable.Sum"/>
    <DxChartLineSeries Name="Gas cost"
                       Filter="@((ConsumptionContract c) => c.Type == "Gas")"
                       ArgumentField="@(c => c.Timestamp)"
                       ValueField="@(c => c.Cost)"
                       SummaryMethod="Enumerable.Sum"/>
    <DxChartLineSeries Name="Total cost"
                       Filter="@((ConsumptionContract c) => true)"
                       ArgumentField="@(c => c.Timestamp)"
                       ValueField="@(c => c.Cost)"
                       SummaryMethod="Enumerable.Sum"/>
    <DxChartLegend Position="RelativePosition.Outside" HorizontalAlignment="HorizontalAlignment.Right" />
</DxChart>
